<template>
  <el-form
    :model="form"
    :rules="rules"
    @validate="handleValidation"
    status-icon
  >
    <el-form-item label="Array Form" prop="array" required inline-message>
      <el-input
        v-model="form.array"
        placeholder="Separated numbers"
        @keydown.native.enter.prevent="submit"
        autofocus
      ></el-input>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="submit" :disabled="!valid">
        Sort
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  data() {
    return {
      form: {
        array: ""
      },
      numberArray: [],
      rules: {
        array: [
          { required: true, message: "Required" },
          { validator: this.checkArray, trigger: ["change", "blur"] }
        ]
      },
      valid: false
    };
  },
  methods: {
    handleValidation(item, valid) {
      this.valid = valid;
    },
    checkArray(rule, value, callback) {
      const match = value.match(/(?!-)(\d+)/g);
      if (!match) return callback(new Error("Invalid values"));
      if (match.length > 20) return callback(new Error("Max length: 20"));
      this.numberArray = match.map(Number);
      return callback();
    },
    submit() {
      this.$emit("submit", { array: this.numberArray });
    }
  }
};
</script>

<style lang="scss" scoped></style>
