<template>
  <el-container>
    <el-main>
      <el-row type="flex" justify="center">
        <el-col :md="8">
          <h1>Sort Wave</h1>
          <v-form @submit="handleFormSubmit"></v-form>
          <h2 v-if="array.length">Input: [ {{ array.join(", ") }} ]</h2>
          <h2 v-if="sortedArray.length">
            Output: {{ stringArr(sortedArray) }}
          </h2>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>
import VForm from "@/components/Form.vue";
import wave_sort from "./wave.sort";
export default {
  name: "app",
  components: { VForm },
  data() {
    return {
      array: [],
      sortedArray: []
    };
  },
  methods: {
    handleFormSubmit({ array }) {
      this.array = array;
      this.sortedArray = wave_sort(this.array);
    },
    stringArr(arr) {
      return `[ ${arr.join(", ")} ]`;
    }
  }
};
</script>

<style></style>
